@import './variables';

@media screen and (max-width:1220px){
    .header-top .header-icons i{
        font-size: 15px ;
    }
}
@media screen and (max-width:1006px){
    .best-sellers .ads{
      display: none;
    }
    .categories .single-category{
        grid-column: span 4;
    }
    .product-item{
        grid-column: span 4;
    }
}
@media screen and (max-width:958px){
    .featured {
        grid-template-columns: 1fr;
        grid-auto-rows: initial;
        .featured-content{
            margin-bottom: 25px;
        }
        .ads{
            display: none;
        }
    }
}
@media screen and (max-width:877px){
    .footer{
        .footer-content {
            padding: 32px 16px;
            form{
                display: block;
                input,button{
                    display: inline-block;
                }
                input{
                    margin:11px 6px 0 0;
                    width: 70%;
                }
            }
        }
        .footer-middle{
            flex-wrap: wrap;
            justify-content: center;
            .footer-icons{
                margin-bottom: 12px;
            }
        }
        .footer-bottom{
            flex-direction: column;
            align-items: center;
            p{
                order: 1;
                margin-top: 12px;
            }
        }
    }
}
@media screen and (max-width:739px){
    .slide1,.slide2{
        min-height: 100%;
    }
    .banner-text {
        h2{
            line-height: 36px;
            margin-top: 40px;
            margin-bottom: 10px;
            font-size: 27px;
        }
        p{
            display: none;
        }
    }
    .header-top{
        padding: 11px;
        .header-icons{
            width: initial;
            height: initial;
            i{
                font-size: 20px;
            }
            .user-icon{
                display: none;
            }
            .shopping{
                i{border: 0;}
                p{display: none;}
                margin: 0 11px;
            }
        }
        .search{
            width: 68%;
        }
    }
    .navbar{
        display: none;
        i{
            display: block;
        }
        .desktop-menu{
            max-height: 0px;
            overflow: hidden;
            transition:.6s;
            &.active{
                max-height: 1000px;
                overflow: visible;
            }
        }
    }
    .btn-menu{
        display: block;
        background: transparent;
        i{
            font-size: 20px;
            color: #fff;
        }
    }
    .logo h4{
        font-size: 22px;
        margin-right: 11px;
    }
    .navbar,.navbar > ul > li, .submenu,.submenu,.column-one,.column-two{
       all: unset;
    }
    .navbar > .desktop-menu > li:hover .submenu{
        max-height: 0;
        overflow: hidden;
    }
    .navbar{
        background: rgb(50, 60, 92);
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
    }
    .navbar > ul > li > a{
        font-size: 16px;
    }
    .navbar > .desktop-menu > li{
        padding: 0;
    }
    .categories-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border-top: 1px solid #e5e5e5;
        i{
            color: #fff;
            font-size: 10px;
        }
        
    }
    .fas.fa-minus{
        position: relative;
    }
    .fas.fa-plus{
        position: absolute;
        right: 12px;
        transition:.6s;
        &.active{
            color: $blue;
        }
    }
    .submenu{
        display: block;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition:.6s;
        color: #fff;
        &.active{
            max-height: 1000px!important;
            overflow: visible!important;
        }
        h4{
            font-size: 15px;
        }
        p{
            color: #e5e5e5;
        }
    }
 
}
@media screen and (max-width:725px){
    .logo{
        display: none;
    }
    .header-top .search{
        width: 100%;
    }
    .categories .single-category{
        grid-column: span 6;
    }
    .product-item{
        grid-column: span 6;
    }
    .featured .product-item{
        grid-column: span 6;
    }
}
@media screen and (max-width:687px){
    .footer {
        .footer-middle{
            padding: 32px 16px;
        }
        .footer-bottom{
            padding: 32px 16px;
        }
    }
}
@media screen and (max-width:602px){
    header.container{
        padding: 0;
    }
    .categories{
        margin-top: 0;
    }
    .slide1,.slide2{
        background-position: 65% 50%;
        min-height: 80%;
    }
    
    .banner-text{
        display: none;
    }
    .product-item,.categories .single-category,.featured .product-item{
        grid-column: span 12;
    }
    .featured{
        padding: 0;
    }
}

@media screen and (max-width:598px){
    .header-top{
        .search{
            width: 100%;       
        }
    }
    .logo{
        display: none;
    }
}


@media screen and (max-width:400px){
    .footer .footer-content form input, .footer .footer-content form button{
        margin-top: 12px;
    }
    .footer .footer-content{
        padding: 32px 6px;
        form {
            input{
                width: 100%;
            }
            button{
                margin-top: 12px;
            }
        }
    }
    .footer .footer-bottom .footer-menu ul{
        flex-wrap: wrap;
    }
    .footer .footer-middle{
        padding: 32px 0px;
    }
}